.listing-area-root {
    display: flex;
}

.listing-area-laoding {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: center;
}

.listing-area-card-content {
 
}

.listing-area-card-content:nth-child() {
    padding-left: 10px;
    padding-right: 10px;
}